body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* <================= HOMEPAGE VIEW =================> */

#home-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#home-logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 112px;
  padding-bottom: 20px;
  width: 400px;
}

.search-container {
  text-align: center;
  display: flex;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 530px;
}

#home-searchbar {
  display: flex;
  flex: 100%;
  background-color: transparent;
  width: 300;
  margin: 0;
  padding: 0;
  margin-top: -37;
  line-height: 32px;
  outline: none;
  border: none;
  padding: 0 8px;
}

#home-searchbar:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#home-search-btn {
  padding-right: 13px;
  padding-left: 22;
}

#home-search-icon {
  margin-left: 0.2em;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* <================= NAVBAR =================> */
#nav-logo {
  height: 43px;
  width: 135px;
  padding-left: 13px;
  padding-right: 12px;
}

.nav-search-container {
  text-align: center;
  display: flex;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 530px;
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); */
}

.nav-search-container:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.19);
}

#nav-searchbar {
  display: flex;
  flex: 100%;
  background-color: transparent;
  width: 300;
  margin: 0;
  padding: 0;
  margin-top: -37;
  line-height: 32px;
  outline: none;
  border: none;
  padding: 0 8px;
}

#nav-search-icon {
  margin-top: 0.4em;
  margin-right: 0.3em;
}

/* <================= Filter-Sort Menu =================> */
#filter-sort-menu {
  display: inline-flex;
}
